/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "attendances";
 @import "events";
 @import "scaffolds";
 @import "users";

 /* General */
body{
  margin: 0;
}
.container{
  padding: 1em;
}
h1{
  font-weight: bold;
}
h4{
  font-style: italic;
}
h6{
  font-weight: bold;
}

/* Alertes */
.notice{
  text-align: center;
}
.alert{
  text-align: center;
}

/* Navbar */ 
#logo{
  font-size: 2.5em;
}
.navbar-brand:hover{
  background-color: transparent;
}
.nav-link:hover{
  background-color: transparent;
}